<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <link href="../../static/styles.css" rel="stylesheet"/>
    <title>Hiring Platform</title>
</head>

<body>
<header>
    <div class="site-bar">
        <div class="site-bar-left">
            <a class="site-heading" href="home.html">Recruiter Portal</a>
        </div>
        <div class="site-bar-center">
            <div class="container-flex-right nav-container">
                <a class="nav-item" href="home.html">Home</a>
                <a class="nav-item" href="home.html">Profile</a>
                <a class="nav-item" href="home.html">Campaigns</a>
            </div>
        </div>
        <div class="site-bar-right">
            <a class="btn" href="../login.html">Logout</a>
        </div>
    </div>
</header>
<main>
    <div class="main-container-center">
        <h2 class="h1-1">Company x Hiring Platform</h2>
        <h2 class="h2-1">Simplify your hiring process with the Hiring Platform Talent Pool.</h2>
        <div>
            <div class="container-flex-center-2">
                <a class="btn btn-long margin-top-40" href="register.html?register=recruiter">Create Job Posting</a>
            </div>
        </div>
    </div>
</main>
<footer></footer>
</body>

</html>