<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <link href="../../static/styles.css" rel="stylesheet"/>
    <title>Hiring Platform</title>
</head>

<body>
<header>
    <div class="site-bar">
        <div class="site-bar-left">
            <a class="site-heading" href="home.html">Applicant Portal</a>
        </div>
        <div class="site-bar-center">
            <div class="container-flex-right nav-container">
                <a class="nav-item" href="home.html">Home</a>
                <a class="nav-item" href="profile.html">Profile</a>
                <a class="nav-item" href="home.html">Apply Jobs</a>
                <a class="nav-item" href="home.html">My Applications</a>
            </div>
        </div>
        <div class="site-bar-right">
            <a class="btn" href="../login.html">Logout</a>
        </div>
    </div>
</header>
<main>
    <div class="main-container-center">
        <h2 class="h1-1" style="display: inline-block;">Welcome Name,</h2>
        <h2 class="h2-1">10+ jobs for you to explore. Find your dream job now!</h2>
        <div>
            <div class="container-flex-center-2">
                <a class="btn btn-long margin-top-40" href="register.html?register=recruiter">Start Applying</a>
            </div>
        </div>
    </div>
</main>
<footer></footer>
</body>

</html>