<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <link href="../../static/styles.css" rel="stylesheet"/>
    <title>Hiring Platform</title>
</head>

<body>
<header>
    <div class="site-bar">
        <div class="site-bar-left">
            <a class="site-heading" href="home.html">Applicant Portal</a>
        </div>
        <div class="site-bar-center">
            <div class="container-flex-right nav-container">
                <a class="nav-item" href="home.html">Home</a>
                <a class="nav-item" href="profile.html">Profile</a>
                <a class="nav-item" href="home.html">Apply Jobs</a>
                <a class="nav-item" href="home.html">My Applications</a>
            </div>
        </div>
        <div class="site-bar-right">
            <a class="btn" href="../login.html">Logout</a>
        </div>
    </div>
</header>
<main>
    <div class="main-container-center">
        <div class="register-container">
            <div id="applicant-form">
                <form class="login-form" enctype="multipart/form-data" method="post">
                    <div class="inner-group-2">
                        <label for="userid">Email :</label>
                        <input name="userid" type="text">
                    </div>
                    <div class="inner-group-2">
                        <label for="password">Password :</label>
                        <input name="password" type="password">
                    </div>
                    <br>
                    <div class="inner-group-2">
                        <label for="name">Name :</label>
                        <input name="name" type="text">
                    </div>
                    <div class="inner-group-2">
                        <label for="location">Location :</label>
                        <input name="location" type="text">
                    </div>
                    <div class="inner-group-2">
                        <label for="experience">Experience :</label>
                        <input name="experience" type="text">
                    </div>
                    <div class="inner-group-2">
                        <label for="skills">Skills :</label>
                        <input name="skills" placeholder="Skill 1, Skill 2, Skill 3, etc" type="text">
                    </div>
                    <div class="inner-group-2">
                        <label for="resume">Resume :</label>
                        <input name="resume" type="file">
                    </div>
                    <div class="inner-group-2">
                        <div class="container-flex-right">
                            <button class="btn" name="submit" type="submit">Edit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<footer></footer>
</body>

</html>