<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <link href="../static/styles.css" rel="stylesheet"/>
    <title>Hiring Platform</title>
</head>

<body>
<header>
    <div class="site-bar">
        <div class="site-bar-left"></div>
        <div class="site-bar-center">
            <a class="site-name" href="home.html">Hiring Platform</a>
        </div>
        <div class="site-bar-right">
            <a class="btn" href="register.html">Register</a>
        </div>
    </div>
</header>
<main>
    <div class="main-container-center">
        <div class="login-container">
            <h2 class="h1-3 margin-bottom-40">Welcome back!</h2>
            <form class="login-form">
                <div class="inner-group">
                    <label for="userid">Email</label>
                    <input name="userid" type="text">
                </div>
                <div class="inner-group">
                    <label for="password">Password</label>
                    <input name="password" type="password">
                </div>
                <div class="inner-group">
                    <button class="btn" name="submit" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</main>
<footer></footer>
</body>

</html>